# OS / IDE
.DS_Store
.idea/
.vscode/

# Python
venv/
.venv/
__pycache__/

# Other
# (default output of stylegan2/generate.py)
out/*
models/*
!models/classifier.pt
!models/eyeglass_boundary.npz
!models/young_boundary.npz
dataset/

figures/
temp.typ
